<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSample Login</title>
    <!-- link css file-->
    <link rel=stylesheet type="text/css" href="{{url_for('static', path='/CSS/login_styles.css')}}" />
</head>

<body>
    <div class="container">
        <a class="about" href="http://0.0.0.0:8000/about">About Us</a>
        <div class="title">
            <label><b>iSamples</b></label>
        </div>
        <label class="username"><b><u>Username</u></b></label>
        <input class="inputText1" type="text" placeholder="Enter Username" size="30">
        <label class="password"><b><u>Password</u></b></label>
        <input class="inputText2" type="password" placeholder="Enter password" size="30">
        <img class="locker" src="{{url_for('static', path='/img/Locker.png')}}">
        <a class="SignUp" href="http://0.0.0.0:8000/signUp">Sign Up</a>
        <a class="fgPass" href="#">Forgot Password?</a>
        <button id="enter" class="bt_enter">Enter</button>
        <div class="otherLogin">
            <a id="Git" href="#">
                <img src="{{url_for('static', path='/img/GitHub-img.png')}}" width="50px" height="50px">
            </a>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', path='/js/login_Script.js')}}"></script>
</body>

</html>