<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSample Login</title>
    <!-- link css file-->
    <link rel=stylesheet type="text/css" href="{{url_for('static', path='/CSS/login_Styles.css')}}" />
</head>

<body>
    <a class="about" href="#">About Us</a>
    <div id="loginForm">
        <div class="title">
            <label><b>iSample</b></label>
        </div>
        <div class="Users">
            <label><b><u>Username</u></b></label>
            <input type="text" placeholder="Enter Username" size="30">
        </div>
        <div class="Users">
            <label><b><u>Password</u></b></label>
            <input type="password" placeholder="Enter password" size="30">
        </div>
        <div class="NF_users">
            <a class="NF" href="#">Sign Up</a>
            <a href="#">Forgot Password?</a>
            <button class="bt_enter">Enter</button>
        </div>
        <div class="otherLogin">
            <a id="Git"><img src="{{url_for('static', path='/img/GitHub-img.png')}}"><br>Github</a>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', path='/js/front_settings.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', path='/js/login_Script.js')}}"></script>
</body>

</html>